<div class="container-fluid">

  <div class="row-fluid">

    <div class="container-widget span6">

      <div class="navbar">
        <div class="navbar-inner">
          <a href="#" class="brand">User Profile</a>
          <span class="icon pull-right">
            <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_profile_path(@user) %>
          </span>
        </div>
      </div>

      <table class="table table-list">
        <tbody>
          <tr>
            <td>
              <p class="formSep"><small class="muted">First name: </small><%= @user.first_name %></p>
              <p class="formSep"><small class="muted">Last name: </small><%= @user.last_name %></p>
              <% if current_user == @user %>
                <p class="formSep"><small class="muted">Email: </small><%= @user.email %></p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
