<h1>New workspace</h1>

<p>TODO: Add users to this workspace to allow them configure virtual machines as well</p>

<%= render 'scenes/netwidget' %>

<%= render 'form' %>

<%= link_to 'Back', workspaces_path %>
