<script>
  window.onload = function() {
    DesktopEditor.init({
      container: "container",
      width: 700,
      height: 600,
      callback: null
    });
  }
</script>

<div id="container"></div>
