<h1>Editing scene</h1>

<%= render partial: 'widget_handler', formats: :js %>

<%= render 'form' %>

<%= link_to 'Show', show_edit_ajax_scene_path(@scene), :remote => true %> |
<%= link_to 'Back', back_edit_ajax_scene_path(@scene), :remote => true %>
