<div class="container-fluid">

  <div class="row-fluid container-widget">

    <div id="scene_view" class="span4 offset3">

      <div class="navbar">
        <div id="container_title" class="navbar-inner">
          <a id="scene_title" href="#" class="brand">Loading...</a>
          <span class="icon pull-right">
            <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_scene_path(@scene) %>
          </span>
        </div>
      </div>

      <%= render 'netwidget' %>

    </div>

  </div>

</div>
