<div class="container-fluid">

  <div class="row-fluid">

    <div class="container-widget span6">

      <%= render "workspace_invitations/index" %>

    </div>

    <div class="container-widget span6">

      <%= render "workspace_tasks/index" %>

    </div>
  </div>
</div>
