<div class="container-fluid">

  <ul id="breadcrumb" class="breadcrumb wizard">
    <li class="active"><a href="/"><i class="icon-home"></i></a></li>
  </ul>

  <div class="row-fluid">

    <div class="container-widget span6">

      <%= render "workspace_invitations/index" %>
      <%= render "chat_invitations/index" %>

    </div>

    <div class="container-widget span6">

      <%= render "workspace_tasks/index" %>

    </div>
  </div>
</div>
