<div class="container-fluid">

  <div class="row-fluid">

    <div id="logo" class="span7">
      <center>
        <h2>Free Network Simulator Machines</h2><br />
        <%= image_tag("logo.png") %>
      </center>
    </div>

    <div id="login" class="span5">
      <%= render "gdrivestrg/login" %>
    </div>

  </div>

</div>
