<div class="navbar navbar-fixed-top">

  <ul id="form_sign-in" class="nav pull-right">

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-inline"}) do |f| %>
      

      <div id="links">

        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
          <% end -%>
        <% end -%>
      <div>
    <% end %>

  </ul>

</div>

<div class="container-fluid">

  <div class="row-fluid">

    <div id="logo" class="span6">
      <center><h2>Free Network Simulator Machines<h2></center><br /><br />
      <%= image_tag("logo.png") %>
    </div>

    <div id="form-register" class="span4 offset2">
      <%= render :file => "devise/registrations/new" %>
    </div>

  </div>

</div>
